---
interface Props {
	text: string;
	src: any;
	alt: string;
	country: string;
}

const { text, src, alt } = Astro.props;

const url = `/trip/${Astro.props.country.toLowerCase()}`;

import { Image } from "astro:assets";
---

<a
	class="flex w-full justify-center transition-transform hover:scale-105 hover:cursor-pointer sm:w-96"
	href={url}
>
	<article class="card image-full shadow before:opacity-15">
		<figure>
			<Image src={src} alt={alt} width={450} />
		</figure>
		<div class="card-body p-4">
			<h2 class="title text-2xl text-white sm:text-4xl">{text}</h2>
		</div>
	</article>
</a>

<style>
	article.card::before {
		opacity: 0.3;
	}

	a {
		transition: transform 0.75s;
	}
</style>
