---
interface Props {
	text: string;
	src: any;
	alt: string;
	country: string;
}

const { text, src, alt } = Astro.props;

const url = `/trip/${Astro.props.country.toLowerCase()}`;

import { Image } from "astro:assets";
---

<a
	class="fade-up flex w-full justify-center transition-transform hover:scale-105 hover:cursor-pointer sm:w-96"
	href={url}
>
	<div class="card image-full shadow before:opacity-15">
		<figure>
			<Image src={src} alt={alt} width={450} />
		</figure>
		<div class="card-body">
			<h2 class="title text-2xl text-white sm:text-4xl">{text}</h2>
		</div>
	</div>
</a>

<style>
	div.card::before {
		opacity: 0.3;
	}

	a {
		transition: transform 0.75s;
	}
</style>

<!-- Script to add fade up animation -->
<script>
	import { createIntersectionObserver, observeAll } from "@/helpers/IntersectionObserver.js";

	const runAnimation = () => {
		const fadeUpObserver = createIntersectionObserver();
		observeAll(fadeUpObserver, ".fade-up");
	};

	document.addEventListener("astro:page-load", runAnimation);
</script>
